In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('baseball.csv',index_col=0)
df

                Team        Position  Height  Weight    Age PosCategory
Name
Adam_Donachie    BAL         Catcher      74     180  22.99     Catcher
Paul_Bako        BAL         Catcher      74     215  34.69     Catcher
Ramon_Hernandez  BAL         Catcher      72     210  30.78     Catcher
Kevin_Millar     BAL   First_Baseman      72     210  35.43   Infielder
Chris_Gomez      BAL   First_Baseman      73     188  35.71   Infielder
...              ...             ...     ...     ...    ...         ...
Brad_Thompson    STL  Relief_Pitcher      73     190  25.08     Pitcher
Tyler_Johnson    STL  Relief_Pitcher      74     180  25.73     Pitcher
Chris_Narveson   STL  Relief_Pitcher      75     205  25.19     Pitcher
Randy_Keisler    STL  Relief_Pitcher      75     190  31.01     Pitcher
Josh_Kinney      STL  Relief_Pitcher      73     195  27.92     Pitcher

[1015 rows x 6 columns]

# Arithmatics and Statistics

In [5]:
d=df.head(20)
d

                Team          Position  Height  Weight    Age PosCategory
Name
Adam_Donachie    BAL           Catcher      74     180  22.99     Catcher
Paul_Bako        BAL           Catcher      74     215  34.69     Catcher
Ramon_Hernandez  BAL           Catcher      72     210  30.78     Catcher
Kevin_Millar     BAL     First_Baseman      72     210  35.43   Infielder
Chris_Gomez      BAL     First_Baseman      73     188  35.71   Infielder
Brian_Roberts    BAL    Second_Baseman      69     176  29.39   Infielder
Miguel_Tejada    BAL         Shortstop      69     209  30.77   Infielder
Melvin_Mora      BAL     Third_Baseman      71     200  35.07   Infielder
Aubrey_Huff      BAL     Third_Baseman      76     231  30.19   Infielder
Adam_Stern       BAL        Outfielder      71     180  27.05  Outfielder
Jeff_Fiorentino  BAL        Outfielder      73     188  23.88  Outfielder
Freddie_Bynum    BAL        Outfielder      73     180  26.96  Outfielder
Nick_Markakis    BAL        Outfielder      74     185  23.29  Outfielder
Brandon_Fahey    BAL        Outfielder      74     160  26.11  Outfielder
Corey_Patterson  BAL        Outfielder      69     180  27.55  Outfielder
Jay_Payton       BAL        Outfielder      70     185  34.27  Outfielder
Erik_Bedard      BAL  Starting_Pitcher      73     189  27.99     Pitcher
Hayden_Penn      BAL  Starting_Pitcher      75     185  22.38     Pitcher
Adam_Loewen      BAL  Starting_Pitcher      78     219  22.89     Pitcher
Daniel_Cabrera   BAL  Starting_Pitcher      79     230  25.76     Pitcher

In [10]:
d['Height']

Name
Adam_Donachie      74
Paul_Bako          74
Ramon_Hernandez    72
Kevin_Millar       72
Chris_Gomez        73
Brian_Roberts      69
Miguel_Tejada      69
Melvin_Mora        71
Aubrey_Huff        76
Adam_Stern         71
Jeff_Fiorentino    73
Freddie_Bynum      73
Nick_Markakis      74
Brandon_Fahey      74
Corey_Patterson    69
Jay_Payton         70
Erik_Bedard        73
Hayden_Penn        75
Adam_Loewen        78
Daniel_Cabrera     79
Name: Height, dtype: int64

In [12]:
#add to all values of specific columns
d['Height']+10

Name
Adam_Donachie      84
Paul_Bako          84
Ramon_Hernandez    82
Kevin_Millar       82
Chris_Gomez        83
Brian_Roberts      79
Miguel_Tejada      79
Melvin_Mora        81
Aubrey_Huff        86
Adam_Stern         81
Jeff_Fiorentino    83
Freddie_Bynum      83
Nick_Markakis      84
Brandon_Fahey      84
Corey_Patterson    79
Jay_Payton         80
Erik_Bedard        83
Hayden_Penn        85
Adam_Loewen        88
Daniel_Cabrera     89
Name: Height, dtype: int64

In [13]:
#sum over columns
d['Height'].sum()

1459

In [23]:
#commulative sum over columns
d['Height'].cumsum()

Name
Adam_Donachie        74
Paul_Bako           148
Ramon_Hernandez     220
Kevin_Millar        292
Chris_Gomez         365
Brian_Roberts       434
Miguel_Tejada       503
Melvin_Mora         574
Aubrey_Huff         650
Adam_Stern          721
Jeff_Fiorentino     794
Freddie_Bynum       867
Nick_Markakis       941
Brandon_Fahey      1015
Corey_Patterson    1084
Jay_Payton         1154
Erik_Bedard        1227
Hayden_Penn        1302
Adam_Loewen        1380
Daniel_Cabrera     1459
Name: Height, dtype: int64

# find average of different entity

In [19]:
#mean over columns
d['Height'].mean()

72.95

In [21]:
#mean 
d['Weight'].mean()

195.0

In [24]:
#age 
d['Age'].mean()

28.657500000000006

# Standard deviation

In [18]:
#standard deviation over columns
d['Height'].std()

2.762054917705485

In [25]:
#mean over columns
d['Age'].std()

4.559072937849491

# Count unique values

In [26]:
d['Age'].value_counts()

27.05    1
30.19    1
30.77    1
26.96    1
34.69    1
22.38    1
23.29    1
25.76    1
35.71    1
35.07    1
22.89    1
29.39    1
23.88    1
30.78    1
27.55    1
34.27    1
26.11    1
27.99    1
22.99    1
35.43    1
Name: Age, dtype: int64

In [27]:
d['Height'].value_counts()

73    4
74    4
69    3
71    2
72    2
70    1
75    1
76    1
78    1
79    1
Name: Height, dtype: int64

In [28]:
d['Weight'].value_counts()

180    4
185    3
210    2
188    2
160    1
230    1
231    1
200    1
176    1
209    1
215    1
219    1
189    1
Name: Weight, dtype: int64

# summarize decription statistics

In [32]:
df.describe()

            Height       Weight          Age
count  1015.000000  1015.000000  1015.000000
mean     73.689655   201.348768    28.708355
std       2.313932    20.823115     4.314453
min      67.000000   150.000000    20.900000
25%      72.000000   186.000000    25.405000
50%      74.000000   200.000000    27.900000
75%      75.000000   215.000000    31.190000
max      83.000000   290.000000    48.520000